
.deal{
    
    background-color: rgb(12, 67, 49);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.best h1{
    color: aliceblue;
    font-size: 40px;
}
.best p{
    color: aliceblue;
}
.best button{
    color: aliceblue;
    background-color: red;
    padding: 5%;
}