.parent{
    display: flex;
padding-left: 10%;
padding-left: 15%;
    
   
}
 .twitter{
    border: 2px solid black;
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    

    box-shadow: 3px 4px 6px 7px rgb(225, 205, 205);
    
    
}
.insta{
    border: 2px solid rgb(21, 21, 21);
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    
    box-shadow: 3px 4px 6px 7px rgb(240, 216, 216);

    

}
.youtube{
    border: 2px solid black;
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    
    box-shadow: 3px 4px 6px 7px rgb(228, 205, 205);
   
}
h1{
    text-align: center;
}
button{
    background-color: black;
    width: 100%;
    
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;

    
    
}
