body{
    background-color: yellow;

}
.container{
    background-color: blue;
}
.head1{
    color: red;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 10px 10px 5px rgb(0, 255, 51);
    text-decoration-color: blue;
    
}
.para{
    font-weight: bold;
    font-style: italic;
   
    text-shadow: 30px 4px 5px blue;
    
}
.wrapper{
    background-color: tomato;
    color: white;
    /*padding-left: 20px;
    padding-top:20px ;
    padding-bottom:20px ;*/
    padding: 20px;
}
.wrapper1{
    background-color: blue;
    color: aliceblue;
    padding: 20px;
    margin-top: 20px;
    border: 13px solid grey;
    border-radius: 30px;
    border-top-left-radius: 40px;
    box-shadow: 3px 4px 6px 7px black;
}