.container{
    background-color: yellow;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 300px 200px;
}

.ch1,.ch2,.ch3,.ch4,.ch5,.ch6{
    background-color: blue;
    border: 2px solid black;
}

.ch1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.ch2{
    grid-row-start: 2;
    grid-row-end: 3;
}
.btn:hover{
    background-color: red;
    color: white;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 2px;
}
.head:hover{
 color: blue;
}
img:hover{
   border-radius: 50%;
   padding: 3px;
}