.grid{
    width: 50vh;
    height: 50vh;
    display: grid;
    
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    
}
.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid7{
    background-color: aqua;
    align-items: center;
}
.grid1{
    grid-column-start: 1;
    grid-column-end: 5;
}
.grid2{
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid3{
    grid-column-start: 2;
    grid-column-end: 5;
}
.grid7{
    grid-column-start: 1;
    grid-column-end: 5;
}