body{
margin: 0;
}
.navbar{
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.hero{
    height: 100vh;
    background-image: url(OIP\ \(9\).jpeg);
    background-size: cover;
    background-position: center;
}
.content{
    background-image: url(th.jpeg);
    height: 50vh;
    background-repeat: no-repeat;
}
