input::placeholder{
    color: blue;
    padding: 30px;
}
p::selection{
    color : white;
    background-color: green;
}
h1{
    
    font-family: "Playwrite RO", cursive;

}
h2{
    
    font-family: "Special Gothic Expanded One", sans-serif;

}
.name::after{
  content: " kushwaha ";
  color: red;
}
.name::before{
    content: " ms ";
    color: aqua;
}